
<div class="w3-bar w3-black w3-hide-small">
    <a href="/index" class="w3-bar-item w3-button">Home</a>
    <a href="/players" class="w3-bar-item w3-button">Players</a>
    <a href="/teams" class="w3-bar-item w3-button">Teams</a>
    <a href="/about" class="w3-bar-item w3-button">About</a>
    <a href="/signin" class="w3-bar-item w3-button w3-right">Sign in</a>
    <a href="/signup" class="w3-bar-item w3-button w3-right">Sign up</a>
</div>



